.navbar{
    padding: 15px;
    z-index: 100;
    transition: background-color 0.3s ease;
}
.navbar.transparent {
    background-color: transparent;
}
.navbar.scrolled {
    background-color: #fff;
}
.navbar .container {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* max-width: 90%; */
    left: 0;
    right: 0;

}
.fixed-top{
    position: fixed;
    width: 100%;
}
.left-nav, .right-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.left-nav {
    justify-content: flex-start;
}

.right-nav {
    width: 100%;
    justify-content: flex-end;
}
.right-nav img{
    max-width: 135px;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline-flex; 
}

nav ul li {
    margin: auto 12px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    
}
nav a img{
    max-width: 128px;
}


nav a:hover {
    color: #000;
}

.navbar-toggler {
    display: none; 
    background: transparent;
    border: none;
    padding: 10px;
}

.navbar-toggler-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #000;
    display: block;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}


@media (max-width: 768px) {
    .left-nav, .right-nav {
        display: none; 
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar-toggler {
        display: block; 
    }

    .navbar.active .left-nav,
    .navbar.active .right-nav {
        display: flex; 
    }
    nav a img{
        max-width: 128px !important;
    }
    .navbar .container{
        justify-content: space-between;
    }
}